body {
  margin: 0;
  padding: 0;
  background: repeating-linear-gradient(
    45deg,
    #006400 0%,
    #006400 1%,
    #ffffff 1%,
    #ffffff 2%
  );
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  padding: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

h1.glow {
  font-size: 3em;
  color: #ff0000;
  text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff6347;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff6347;
  }
  to {
    text-shadow: 0 0 20px #ff0000, 0 0 30px #ff6347, 0 0 40px #ff6347;
  }
}

.message,
.additional-message,
.check-email,
.footer {
  margin: 15px 0;
  font-size: 1.2em;
  color: #333;
}

.additional-message {
  color: #ff0000; /* Change color to red */
}

.check-email {
  font-size: 0.8em;
  color: #000;
}

.gift-card img {
  width: 60%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}

.footer {
  font-size: 1em;
  margin-top: 20px;
}

.mute-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.6);
  border: none;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mute-button:before {
  content: '🔊';
  font-size: 1.5em;
}

.mute-button.muted:before {
  content: '🔇'
